* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 3rem;
  line-height: 3rem;
}

.container {
  border: 2px solid black;
  border-radius: 1.3rem;
  width: 350px;
  margin: 2rem auto;
  padding: 10px;
  background-color: #f9f9f9;
}

.results {
  height: 100px;
  background-color: #222;
  color: #0f0;
  font-size: 2.5rem;
  font-family: sans-serif;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#realTimeInput {
  font-size: 1rem;
  color: #aaa;
}

#result {
  font-size: 2.5rem;
  font-weight: bold;
  overflow-x: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 5px 0;
}

.row button {
  flex: 1;
  height: 60px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}
