* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 3rem;
  line-height: 3rem;
}

.container {
  border: 2px solid black;
  border-radius: 1.3rem;
  width: 350px;
  margin: 2rem auto;
  padding: 10px;
  background-color: #f9f9f9;
}
